@charset "utf-8";
/* CSS Document */

body {
	background-image:url(../img/bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#e0e0e0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#666;
	margin: 0;
}

img{border:0;}

.clear{ overflow:hidden;}
.block{ display:block;}
.left{ float:left;}
.right{ float:right;}

#cont {
	width:600px;
	height:auto;
	margin:0px auto;
	text-align:center;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	font-weight:bold;
}
.text {
	font-size:14px;
	color:#FFF;
	font-weight:normal;
}
.menucont{
	height:35px;
	width:100%;
	background-color:#2d2d2d;
	margin:0 auto;
	
}
.menuOptions{
	height:35px;
	display: block;
	background-color:#2d2d2d;
	z-index: 888;
}


.menuBarOptions{ display: block; list-style: none; margin:0; padding:0;}
.menuBarOptions li{ float: left; margin: 0; padding: 0;}
.menuBarOptions li a{ line-height: 35px; display: block; color: #fff; padding:0px 10px; border-right: 1px solid #4f4f4f; text-decoration: none; font-size: 14px;}
.menuBarOptions li a:hover{background-color:#810608;}

a.opciones{
	float: left;
	background-color:#2d2d2d;
	height:35px;
	line-height:35px;
	display:block;
	text-align: center;
	font-family:'TitilliumText22LRegular',calibri, Verdana, Geneva, sans-serif;
	color:#fff;
	text-decoration: none;
	font-size:14px;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #4f4f4f;
}
a.opciones:hover{
	text-decoration: none;
	background-color:#810608;
	color:#fff;
	padding-left:10px;
	padding-right:10px;
}
#Bannercont {
	width:940px;
	height:300px;
	margin:0px auto;
	background-color:#CCC;
}
#header {
	width:980px;
	height:166px;
	margin:0px auto;
	background-image:url(../img/header.jpg);
	background-repeat:no-repeat;
	margin-top:-2px;
}
#contenido {
	width:940px;
	min-height:660px;
	margin:0px auto;
	background-color:#FFF;
	padding:20px;
}
#contenido2 {
	width:940px;
	height:auto;
	margin:0px auto;
	background-color:#FFF;
	padding:20px;
}

.text {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#730406;
	font-weight:bold;
	font-size:12px;

}
.subtitulos {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#730406;
	font-weight:bold;
	font-size:16px;

}
#footer {
	width:940px;
	height:20px;
	padding:20px;
	background-color:#730406;
	margin:0px auto;
	color:#FFF;
	font-weight:normal;
	font-size:12px;

}
#footer a {
	color:#FFF;
	text-decoration:none;
}
#footer a:hover {
	color:#999;
}
.Titulos {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#7e0406;
	font-weight:bold;
	font-size:18px;

}
.capital {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#7e0406;
	font-weight:bold;
	font-size:30px;
	margin:0px;
	padding:0;

}
#contact {
	width:450px;
	height:auto;
	float:left;
}
#gallery {
		background-color: #444;
		padding: 10px;
		width: 520px;
	}
	#gallery ul { list-style: none; }
	#gallery ul li { display: inline; }
	#gallery ul img {
		border: 5px solid #3e3e3e;
		border-width: 5px 5px 20px;
	}
	#gallery ul a:hover img {
		border: 5px solid #fff;
		border-width: 5px 5px 20px;
		color: #fff;
	}
	#gallery ul a:hover { color: #fff; }
	
	
li { margin-left:15px;
}

h2 {
    margin: 40px 0;
}

.margen { margin-left:15px; text-align:justify;
}