

#jqb_object img{ 
	border: none;
}

#jqb_object { 
	position:relative;
	width:940px; height:300px; 
	overflow:hidden;
	margin:0px auto;
}


#jqb_object .jqb_bar{
	position:absolute;
	width:950px; height: 30px;
	left:0px;
	bottom:0px;
	background-image:url(../image/bg-banner.png);
	background-position:right;
	background-repeat:no-repeat;

	
	color: #ffffff;
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: -1px;
}

#jqb_object .jqb_slide{
	position:absolute;
	width:950px; height:300px; 
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: -1px;
	text-align: left;
}

#jqb_object .jqb_info{
	position:absolute;
	padding: 2px 10px 2px 10px;
	float: left;
}

#jqb_object .jqb_btn{
	width: 21px; height: 30px;
	margin: 2px 8px 2px 2px;
	float: right;
}
#jqb_object .jqb_btn_next{
	background-image:url(../image/btn_next.png);
}
#jqb_object .jqb_btn_prev{
	background-image:url(../image/btn_prev.png);
}
#jqb_object .jqb_btn_pause{
	background-image:url(../image/btn_stop.png);
}
#jqb_object .jqb_btn_play{
	background-image:url(../image/btn_play.png);
}



